tbody tr:hover{
    background-color: silver;
}
.icon-disabled{
    filter: grayscale(100%);
}

.icon-delete{
    width: 42px;
    height: 42px;
    background-image: url('img/recyclebin.png');
    background-size: contain;
    background-position: center;
}

.icon-delete:hover:not(.icon-disabled){
    background-image: url('img/recyclebin-hover.png');
}
#newCustomer:hover{
    background-color: silver;
}
#inputCustomer{
    position: relative;
    border-radius: 3px;
    background: aliceblue;
    border: silver;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}